<div class="container-fluid p-0">
    <div class="mt-2">
        <div class="row mt-2">
            <div class="col-12">
                <div class="card border-0">
                    <div class="d-md-flex justify-content-between p-3 shadow rounded-top align-items-center">
                        <h5 class="mb-0 text-uppercase list">Students</h5>
                    </div>
                    <div class="table-responsive shadow rounded">
                        <table class="table table-center bg-white">
                            <thead>
                                <tr>
                                    <th class="border-bottom p-2 text-uppercase">S.No</th>
                                    <th class="border-bottom p-2 text-uppercase">Name</th>
                                    <th class="border-bottom p-2 text-uppercase">Roll No</th>
                                    <th class="border-bottom p-2 text-uppercase">Degree</th>
                                    <th class="border-bottom p-2 text-uppercase">Branch</th>
                                    <th class="border-bottom p-2 text-uppercase">Join In Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of dataValue; let i=index">
                                    <th class="border-bottom p-2 td">{{i+1}}</th>
                                    <td class="border-bottom p-2 data">{{data.studentFirstName}}</td>
                                    <td class="p-2 data">{{data.rollNo}}</td>
                                    <td class="p-2 data">{{data.degree}}</td>
                                    <td class="p-2 data">{{data.branchName}}</td>
                                    <td class="border-bottom p-2 data">{{data.studentYearOfJoin}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




