<div class="page-wrapper toggled">
    <main class="page-content bg-light">
        <div class="container-fluid">
            <div class="layout-specing">
                <div class="d-md-flex justify-content-between align-items-center mt-1">
                    <h5 class="mb-0 text-uppercase">Branch</h5>
                    <nav aria-label="breadcrumb" class="text-end">
                        <button class="btn btn-md btn-primary" (click)="openModal(content)">Add Branch</button>
                    </nav>
                </div>
                <div class="pipe" *ngIf="(branchValue | master:branchSearch) as resultArr">
                    <div class="row mt-2">
                        <div class="col-9"></div>
                        <div class="col-3">
                            <input class="form-control search" [(ngModel)]="branchSearch" type="text" id="search"
                                name="search" autocomplete="off" placeholder="Search Name / Degree / Department">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mt-2">
                            <div class="table-responsive shadow rounded">
                                <table class="table table-center bg-white mb-0">
                                    <thead>
                                        <tr>
                                            <th class="border-bottom p-2 text-uppercase">S.No</th>
                                            <th class="border-bottom p-2 text-uppercase">Name</th>
                                            <th class="border-bottom p-2 text-uppercase">Short Name</th>
                                            <th class="border-bottom p-2 text-uppercase">Degree</th>
                                            <th class="border-bottom p-2 text-uppercase">Degree Type</th>
                                            <th class="border-bottom p-2 text-uppercase">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let data of branchValue | master:branchSearch; let i = index">
                                            <th class="border-bottom p-1 no">{{i+1}}</th>
                                            <td class="border-bottom p-1 td">{{data.branchName}}</td>
                                            <td class="border-bottom p-1 td">{{data.branchShortName}}</td>
                                            <td class="border-bottom p-1 td">{{data.degreeType}}</td>
                                            <td class="border-bottom p-1 td">{{data.degreeName}}</td>
                                            <td class="border-bottom p-1">
                                                <button class="btn me-2" (click)="onEdit(data.id, content)"><i
                                                        class="fa-regular fa-pen-to-square"></i></button>
                                                <button class="btn" (click)="deleteModal(data.id,delete)"><i
                                                        class="fa fa-trash"></i></button>
                                            </td>
                                        </tr>
                                        <tr *ngIf="!resultArr.length">
                                            <td colspan="6" class="text-center"><i class="fa fa-search"></i>
                                                <p>No Data Found</p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
<ng-template #content let-modal>
    <div class="modal-header">
        <h5 *ngIf="!branchForm.value.id" class="modal-title text-uppercase">Create Branch</h5>
        <h5 *ngIf="branchForm.value.id" class="modal-title text-uppercase">Update Branch</h5>
        <button type="button" class="close fa fa-xmark" aria-label="Close"
            (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <form [formGroup]="branchForm" class="d-flex flex-column">
            <div class="rounded d-flex flex-column p-1">
                <label for="degreeName">Degree Type<b class="text-danger">*</b></label>
                <ng-select class="custom shadow-none" [items]="degreeNamearr" bindLabel="name" bindValue="id"
                    placeholder="Select Degree Type" formControlName="degreeType" (change)="filter($event)"
                    [ngClass]="{ 'is-invalid': submitted && b['degreeType'].errors || b['degreeType'].invalid && (b['degreeType'].dirty || b['degreeType'].touched)}">
                </ng-select>
                <div *ngIf="submitted && b['degreeType'].errors || b['degreeType'].invalid && (b['degreeType'].dirty || b['degreeType'].touched)"
                    class="invalid-feedback">
                    <div *ngIf="b['degreeType'].errors['required']" class="req">Required</div>
                </div>
                <label for="degreeTypeId" class="mt-2">Degree <b class="text-danger">*</b></label>
                <ng-select class="custom shadow-none" [items]="degreeArr" bindLabel="degree" bindValue="id"
                    placeholder="Select Degree" formControlName="degreeTypeId"
                    [ngClass]="{ 'is-invalid': submitted && b['degreeTypeId'].errors || b['degreeTypeId'].invalid && (b['degreeTypeId'].dirty || b['degreeTypeId'].touched)}">
                </ng-select>
                <div *ngIf="submitted && b['degreeTypeId'].errors || b['degreeTypeId'].invalid && (b['degreeTypeId'].dirty || b['degreeTypeId'].touched)"
                    class="invalid-feedback">
                    <div *ngIf="b['degreeTypeId'].errors['required']" class="req">Required</div>
                </div>
                <label for="branchName" class="mt-2">Branch <b class="text-danger">*</b></label>
                <input formControlName="branchName" type="text" class="form-control shadow-none" placeholder="Branch"
                    [ngClass]="{ 'is-invalid': submitted && b['branchName'].errors || b['branchName'].invalid && (b['branchName'].dirty || b['branchName'].touched)}">
                <div *ngIf="submitted && b['branchName'].errors || b['branchName'].invalid && (b['branchName'].dirty || b['branchName'].touched)"
                    class="invalid-feedback">
                    <div *ngIf="b['branchName'].errors['required']" class="req">Required</div>
                </div>
                <label for="branchShort" class="mt-2">Short Name<b class="text-danger">*</b></label>
                <input formControlName="branchShortName" type="text" class="form-control shadow-none"
                    placeholder="Short Name"
                    [ngClass]="{ 'is-invalid': submitted && b['branchShortName'].errors || b['branchShortName'].invalid && (b['branchShortName'].dirty || b['branchShortName'].touched)}">
                <div *ngIf="submitted && b['branchShortName'].errors || b['branchShortName'].invalid && (b['branchShortName'].dirty || b['branchShortName'].touched)"
                    class="invalid-feedback">
                    <div *ngIf="b['branchShortName'].errors['required']" class="req">Required</div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" *ngIf="!branchForm.value.id" (click)="onSubmit(modal)">Submit</button>
        <button class="btn btn-primary" *ngIf="branchForm.value.id" (click)="update(modal)">Update</button>
    </div>
</ng-template>
<ng-template #delete let-modal>
    <div class="modal-header">
        <h5 class="modal-title text-uppercase">Delete Branch</h5>
        <button class="close fa fa-xmark" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body delete">
        <p>
            <strong>Are you sure want to delete ?</strong>
        </p>
    </div>
    <div class="modal-footer">
        <!-- <button class="btn btn-sm btn-danger" (click)="modal.dismiss('cancel click')">Cancel</button> -->
        <button class="btn btn-sm btn-primary" (click)="onDelete(modal)">Ok</button>
    </div>
</ng-template>