.form-control {
    font-size: 12px !important;
    padding: 0.3rem 0.25rem !important;
}

.breadcrumb .breadcrumb-item:after {
    content: none !important;
}

nav ul li a {
    cursor: pointer;
}

.modal-header {
    padding: 0.4rem 0.5rem !important;
}

.modal-body {
    padding: 0.5rem !important;
}

.modal-footer {
    padding: 0.2rem !important;
}

label {
    margin-bottom: 0 !important;
    font-size: 14px;
}

thead {
    background-color: rgb(171 209 247) !important;
}

.req {
    font-size: 10px;
    color: red;
}

th {
    font-size: 14px;
}

td {
    font-size: 14px !important;
}

.no {
    padding-left: 15px !important;
}

.td {
    padding-left: 10px !important;
}

.box {
    height: 30px !important;
    font-size: 16px;
    color: #1c87c9;
}

.ng-select.custom {
    border: 0px;
    min-height: 0px;
}

::ng-deep .ng-select.custom .ng-select-container {
    font-size: 12px;
}

::ng-deep .ng-select.ng-select-single .ng-select-container .ng-value-container {
    padding-left: 4px !important;
}

::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
    padding: 5px 10px;
    font-size: 14px;
}