<!-- <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" [fullScreen]="true">
    <div class="wrapper">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="shadow"></div>
        <div class="shadow"></div>
        <div class="shadow"></div>
        <span class="font">Loading</span>
    </div>
</ngx-spinner> -->
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#fff" type="square-jelly-box" [fullScreen]="true">
    <div class="wrapper">
        <img src="../assets/images/loader image.gif" alt="Loader Image" style="width: 100px;margin-left: 4px;">
        <p style="color: white; font-size: 30px;"> Loading... </p>
    </div>
    <!-- <div class="loader"></div> -->
</ngx-spinner>
<router-outlet></router-outlet>
<lib-ng-toast></lib-ng-toast>