.mx-auto {
    margin-right: 157px !important;
}

.card .card-body {
    padding: 1rem !important;
}

.color {
    background-color: rgb(171 209 247) !important;
}

.no {
    padding-left: 15px !important;
}

.td {
    padding-left: 10px !important;
}

th {
    font-size: 14px;
}

td {
    font-size: 14px !important;
}