.download {
    display: flex !important;
    justify-content: flex-end;
    align-items: center;
}

@media (min-width :768px) {
    .download {
        display: flex;
        align-items: center;
        justify-content: space-between !important;
    }
}

nav ul li a {
    cursor: pointer;
}

th {
    font-size: 14px;
}

td {
    font-size: 14px !important;
}

.table tbody {
    height: 400px;
    min-height: 400px;
    max-height: 400px;
}