.modal-header {
    padding: 0.4rem 0.5rem !important;
}

.modal-body {
    padding: 0.5rem !important;
}

.modal-footer {
    padding: 0.2rem !important;
}

th {
    font-size: 14px;
}

thead {
    background-color: rgb(171 209 247) !important;
}

td {
    font-size: 14px !important;
}

.no {
    padding-left: 15px !important;
}

.td {
    padding-left: 10px !important;
}

h5 {
    margin-bottom: 0 !important;
}

.btn-sm {
    padding: 0.2rem 0.3rem !important;
    font-size: 12px;
}